doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(
               content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" 
               name="viewport"
               )
          title Zenis- Multipurpose eCommerce HTML Template
          link(
               href="/client/assets/images/favicon.png" 
               type="image/png" 
               rel="icon"
               )
          link(
               href="/client/assets/css/all.min.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/bootstrap.min.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/animate.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/mobile_menu.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/nice-select.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/scroll_button.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/slick.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/venobox.min.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/select2.min.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/jquery.pwstabs.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/range_slider.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/multiple-image-video.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/custom_spacing.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/style.css" 
               rel="stylesheet"
               )
          link(
               href="/client/assets/css/responsive.css" 
               rel="stylesheet"
               )
     body(class="default_home")

          include ../partials/header.pug
          include ../partials/main-menu.pug  
          include ../partials/mini-cart.pug
          include ../partials/mobile-menu-area.pug

          block main

          include ../partials/footer.pug
          include ../partials/scroll-button.pug

          // jquery library js
          script(src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js") 
          // bootstrap js
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js")
          // font-awesome js
          script(src="/client/assets/js/Font-Awesome.js")
          // counter js
          script(src="https://cdn.jsdelivr.net/npm/jquery-countup@1.0.1/src/jquery.countUp.min.js")
          // nice select js
          script(src="https://cdn.jsdelivr.net/npm/jquery-nice-select@1.1.0/js/jquery.nice-select.min.js")
          // select 2 js
          script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
          // simply countdown js
          script(src="/client/assets/js/simplyCountdown.js")
          // slick slider js
          script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
          // venobox js
          script(src="https://cdn.jsdelivr.net/npm/venobox@2.1.8/dist/venobox.min.js")

          // wow js
          script(src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js")
          // marquee js
          script(src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.6.1/jquery.marquee.min.js")
          // pws tabs js
          script(src="https://cdn.jsdelivr.net/npm/pwstabs@1.4.0/assets/jquery.pwstabs.min.js")
          // scroll button js
          script(src="/client/assets/js/scroll_button.js")
          // youtube background js
          //- script(src="/client/assets/js/jquery.youtube-background.min.js")
          script(src="https://cdn.jsdelivr.net/npm/youtube-background@1.1.8/jquery.youtube-background.min.js")
          // range slider js
          script(src="/client/assets/js/range_slider.js")
          // sticky sidebar js
          script(src="/client/assets/js/sticky_sidebar.js")
          // multiple image upload js
          script(src="/client/assets/js/multiple-image-video.js")
          // main/custom js
          script(src="/client/assets/js/custom.js")